.git
.github
node_modules
vendor
.env
.env.*
*.log
**/*.sqlite
**/*.sqlite-*
public/build
public/hot
public/storage
public/fonts-manifest.dev.json
bootstrap/cache/*.php
bootstrap/ssr
storage/**
!storage/**/
!storage/**/.gitignore
.phpunit.cache
